Source: xpdf
Section: text
Priority: optional
Maintainer: Matthias Hinkfoth <hinki@abwesend.de>
Standards-Version: 4.1.1
Build-Depends:
 autoconf (>= 2.57),
 cmake,
 debhelper (>= 9),
 pkg-config,
 libpaper-dev,
 libxt-dev,
 libx11-dev,
# libmotif-dev,
 libpng-dev,
 libfreetype6-dev,
 zlib1g-dev,
 libstdc++-dev,
 libfontconfig-dev,
# new qt deps since 4.00
 qtbase5-dev,
# for printing
 libcups2-dev,
Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/xpdf.git
Vcs-Git: https://anonscm.debian.org/git/collab-maint/xpdf.git
Homepage: https://www.xpdfreader.com/

Package: xpdf-nopoppler
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 gsfonts-x11,
 cups-bsd,
Provides:
 pdf-viewer,
 poppler-utils,
Breaks:
 xpdf,
 poppler-utils,
Replaces:
 xpdf,
 poppler-utils,
Description: Portable Document Format (PDF) reader
 xpdf-nopoppler is a light-weight open source viewer for
 Portable Document Format (PDF) files.
 This version is based on the upsteam xpdf 4 release.
 The UI is based on Qt.
