#!/usr/bin/make -f

libraries=-lXm $(shell pkg-config --libs poppler --libs xt --libs x11)
includes=$(strip $(shell pkg-config --cflags poppler))
CPPFLAGS=$(includes) $(includes)/goo $(includes)/splash -Wno-write-strings -DHAVE_DIRENT_H

files=goo/parseargs xpdf/CoreOutputDev xpdf/GlobalParams xpdf/PDFCore
files+=xpdf/XPDFApp xpdf/XPDFCore xpdf/XPDFTree xpdf/XPDFViewer xpdf/xpdf
headers=xpdf/config.h xpdf/XPDFTreeP.h xpdf/about-text.h xpdf/*.xbm xpdf/xpdfIcon.xpm

sources=$(shell for file in $(files); do echo $$file.*; done) 
objects=$(shell for file in $(files); do echo build/$$(basename $$file).o; done)

override_dh_clean:
	dh_clean
	rm -rf build

override_dh_auto_configure:

prepare::
	mkdir -p build
	cp $(sources) build
	sed -i s/GString/GooString/g build/*
	sed -i s/GMutex/GooMutex/g build/*
	sed -i s/GHash/GooHash/g build/*
	sed -i s/GList/GooList/g build/*
	sed -i s/\<aconf\.h\>/\<poppler-config\.h\>/g build/*
	cp $(headers) build

override_dh_auto_build: prepare $(objects)
	$(CXX) $(LDFLAGS) -o build/xpdf.real build/*.o $(libraries)

%:
	dh ${@}
