#!/usr/bin/make -f

includes=$(strip $(shell pkg-config --cflags poppler))
LDFLAGS=-lXm $(shell pkg-config --libs poppler --libs xt --libs x11)
CPPFLAGS=$(includes) $(includes)/goo $(includes)/splash -Wno-write-strings -DHAVE_DIRENT_H
CPPFLAGS+=-DSYSTEM_XPDFRC=\"/etc/xpdf/xpdfrc\"
CPPFLAGS+=-fpermissive # TODO: is there a better solution?

files=goo/parseargs xpdf/CoreOutputDev xpdf/GlobalParams xpdf/PDFCore
files+=xpdf/XPDFApp xpdf/XPDFCore xpdf/XPDFTree xpdf/XPDFViewer xpdf/xpdf
headers=xpdf/config.h xpdf/XPDFTreeP.h xpdf/about-text.h xpdf/*.xbm xpdf/xpdfIcon.xpm

sources=$(shell for file in $(files); do echo $$file.*; done)
objects=$(shell for file in $(files); do echo build/$$(basename $$file).o; done)

override_dh_clean:
	dh_clean
	rm -rf build

override_dh_auto_configure:
	mkdir -p build
	cp $(sources) $(headers) build
	sed -e s/GString/GooString/g -e s/GMutex/GooMutex/g -e s/GHash/GooHash/g \
	    -e s/GList/GooList/g -e s/\<aconf\.h\>/\<poppler-config\.h\>/g \
	    -e s/errConfig,//g -e s/errSyntaxError,//g -e s/errIO,//g -i build/*
	mv build/parseargs.c build/parseargs.cc

override_dh_auto_build: $(objects)
	$(CXX) $(LDFLAGS) -o build/xpdf.real build/*.o

%:
	dh ${@}
